{% extends "Template/Template.twig" %}
{% block title %}Dashboard{% endblock %}

{% block content %}

    <style>
        .star .starburst {
            font: 2em/1.4 'Lobster', georgia, serif;
            background: #E95420;
            width: 3.0em;
            height: 3.0em;
            text-align: center;
            color: white;
        }

        .star .starburst,
        .star .starburst span {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .star .starburst span {
            width: 100%;
            height: 100%;
            background: inherit;
            transform: rotate(45deg);
        }

        .star .starburst:before,
        .star .starburst:after ,
        .star .starburst span:before,
        .star .starburst span:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: inherit;
            z-index: -1;
            transform: rotate(30deg);
        }

        .star .starburst:before,
        .star .starburst:after{
            display:none
        }

        .star .starburst:after {
            transform: rotate(-30deg);
        }

        .star .starburst span:after {
            transform: rotate(30deg);
        }
        .star .starburst span:before {
            transform: rotate(-30deg);
        }

        .star .starburst-1 {
            left: 25%;
        }

        .star .starburst-2 {
            left: 75%;
            transform: rotate(-45deg);
        }

    </style>
    <style>
        .star {
            position: absolute;
            top: 0;
            right: 0;
        }
    </style>

    <div class="page-header" id="banner">
        <div class="row">
            {#{{ dump(Products) }}#}
            {% for Product in Products %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <a href="/{{ Product.Slug }}">
                            <img
                                class="card-img-top"
                                alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                                src="/i/{{ Product.Images[0].ProductUUID }}/{{ Product.Images[0].Uuid }}/300x300.jpg"
                                data-holder-rendered="true"
                            >
                        </a>
                        <div class="card-body">
                            <h3 class="mb-0">
                                <a class="text-dark" href="/{{ Product.Slug }}">{{ Product.Name }}</a>
                            </h3>
                            <div class="star">
                                <a href="/{{ Product.Slug }}" class="starburst">
                                    <span>
                                        &euro;{{ Product.Price | number_format(2, '.', ',') }}
                                    </span>
                                </a>
                            </div>

                            <p class="card-text">
                                {{ Product.Description | truncate(200) }}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Fav</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                                </div>

                                <small class="text-muted text-right">Added by {{  Product.ReferringDomain }} <br/> {{ Product.TimeImportedAgo }}</small>

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}